[Desktop Entry]
Name=Currency Converter
Comment=Convert currencies using the European Central Bank’s data.
Exec=/usr/bin/qmlscene $@ /usr/share/currency-converter/currency-converter.qml
Icon=qmlscene
Terminal=false
Type=Application
X-Ubuntu-Touch=true
