[Desktop Entry]
Name=Currency Converter
Comment=My project description
Exec=/usr/bin/qmlscene $@ /usr/share/currency-converter/currency-converter.qml
Icon=qmlscene
Terminal=false
Type=Application
X-Ubuntu-Touch=true
